.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.7fr 2fr 2fr 0.4fr;
  height: 100vh;
  width: auto;
}

.header {
  grid-column: 1 / 13;
  grid-row: 1;

}

.sidebar{
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.footer {
  grid-column: 1 / 13;
  grid-row: 4;
}

.main {
  grid-column: 3 / 13;
  grid-row: 2 / 4;
}
