.header {
  height: 100%;
  background-color: black;
  color: antiquewhite;
  font-size: 2rem;
  display: flex;
}

.botao {
  padding: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
  color: rgb(235, 237, 238);
  background-color: rgb(146, 121, 105);
  margin-left: 1.5rem;
  border-radius: 10px;
  font-size: 1.4rem;
  border: 1px rgb(105, 59, 55) solid;
}

.botao:hover {
  font-size: 1.45rem;
}

.botao:active {
  background-color: rgb(92, 64, 64);
  border: 1px rgb(99, 50, 46) solid;
  color: coral;
}
