.home {
  width: 30%;
  height: 30%;
  background-color: rgba(35, 6, 48, 0.445);
  color: rgb(188, 214, 44);
  border-radius: 1rem;
  margin-left: 5rem;
  margin-top: 5rem;
  font-size: 3rem;
  padding: 2rem;
}

