
.botao {
  background-color: black;
  color: antiquewhite;
  padding: 1rem;
  border-radius: 2rem;
  border: 0.2rem salmon solid;
  font: bold;
  font-weight: 900;
  margin-left: 2rem;
  margin-top: 5rem;
}

.botao:active {
  color: rgb(212, 211, 209);
  border: 0.2rem rgb(39, 197, 163) solid;
  font-size: 1rem;
}

.formulario {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 30%;

}

.entrada {
  height: 2rem;
  padding-left: 10px;
}

.entrada:last-child {
  margin-top: 1rem;
}
